* {
    margin: 0px;
}

body {
    * {
        outline: none;
        ::-webkit-scrollbar { /* For Chrome, Safari, and Opera */
            width: 1;
          }
          
          ::-moz-scrollbar { /* For Firefox */
            width: 1;
          }
          
          ::-ms-scrollbar { /* For Internet Explorer and Edge */
            width: 1;
          }
          
          scrollbar-width: none; /* For Firefox */
          -ms-overflow-style: none; /* For Internet Explorer and Edge */
    }
}